#menu-0 .navbar-toggler {
  color: #000;
}
#menu-2 .navbar-toggler {
  color: #000;
}
#menu-3 .navbar-toggler {
  color: #000;
}
#menu-5 .navbar-toggler {
  color: #000;
}
#menu-8 .navbar-toggler {
  color: #000;
}
